# large directories
node_modules
tmp

# files and directories having no effect on the final application
# these are mostly build-releated files, markdown files, IDE files, etc.
.git
.idea
dist
.gitignore
docker-bake.hcl
Makefile
.env*
*.log
.prettierrc
.prettierignore
