# large directories
node_modules

# files and directories having no effect on the final application
# these are mostly build-releated files, markdown files, IDE files, etc.
.git
.idea
dist
.devcontainer
.fleet
.github
.husky
.env*
*.log
kubeconfig.yml
renovate.json
Dockerfile*
.dockerignore