# large directories
node_modules

# files and directories having no effect on the final application
# these are mostly build-releated files, markdown files, IDE files, etc.
.git
.idea
dist
.env*
*.log
kubeconfig.yml
.devcontainer
.fleet
.github
renovate.json