name: 'CI'

on:
  pull_request:
    paths-ignore:
      - .github/workflows/devcontainer.yaml
      - renovate.json
  push:
    paths-ignore:
      - .github/workflows/devcontainer.yaml
      - renovate.json
    branches:
      - main

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Compute tags
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=pr

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .devcontainer/Dockerfile
          target: ci
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          outputs: type=registry,oci-mediatypes=true,oci-artifact=true
          cache-from: type=gha,scope=ci-{branch?}-{os?}'
          cache-to: type=gha,mode=max,scope=ci-{branch?}-{os?}'
          provenance: false
          labels: ''
          sbom: false
        env:
          SOURCE_DATE_EPOCH: 0
          BUILDKIT_PROGRESS: 'rawjson'

      - name: Print build results
        run: |
          echo "Pushed tags: ${{ steps.metadata.outputs.tags }}"
          echo "Digest: ${{ steps.build.outputs.digest }}"
    outputs:
      image_tag: ${{ steps.metadata.outputs.tags }}@${{ steps.build.outputs.digest }}

  lint:
    name: 'Lint'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: read
    container:
      image: ${{ needs.build.outputs.image_tag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: /app
    steps:
      - name: Format
        run: yarn format:check

      - name: Lint
        run: yarn lint

  preview:
    name: 'Preview'
    needs: build
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: write
    container:
      image: ${{ needs.build.outputs.image_tag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Enrich Pulumi Console data with repository information
        run: cp -R .git /app/.git && cd /app && git reset --hard # files from .dockerignore appear as [deleted] in git status

      - name: Pulumi Preview
        uses: pulumi/actions@v6
        with:
          work-dir: /app
          stack-name: cromanjonac
          command: preview
          comment-on-pr: true
          edit-pr-comment: true
          always-include-summary: true
          comment-on-summary: true
          suppress-progress: true

  deploy:
    name: 'Deploy'
    needs: [build, lint]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency: 'deploy'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: write
    container:
      image: ${{ needs.build.outputs.image_tag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Enrich Pulumi Console data with repository information
        run: cp -R .git /app/.git && cd /app && git reset --hard # files from .dockerignore appear as [deleted] in git status

      - name: Pulumi refresh production
        shell: bash
        run: |
          set -euo pipefail
          pulumi refresh --stack cromanjonac --cwd /app \
            --run-program=true --skip-preview \
            --suppress-progress --non-interactive \
            2>&1 | tee refresh.log

          {
            echo "## Pulumi refresh result"
            echo ""
            echo "<details><summary>Show refresh summary</summary>"
            echo ""
            echo '```'
            cat refresh.log
            echo '```'
            echo "</details>"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Pulumi Up (Deploy to Production)
        uses: pulumi/actions@v6
        with:
          work-dir: /app
          stack-name: cromanjonac
          command: up
          refresh: false
          comment-on-summary: true
          suppress-progress: true

      - name: Cancel update on failure
        if: failure() || cancelled()
        run: pulumi cancel --yes --stack cromanjonac

      - run: cd /app && git status
